[v-cloak] {
  display: none
}

#output_ {
  background-color: rgba(0, 0, 0, 0.041);
  max-height: 60vh;
  overflow-y: scroll;
}

#panels {
  background-color: #ffffff;
  background-image: url("../img/topography.svg")
}

fieldset{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

label{
  display: grid;
  grid-template-columns: 1fr;

}