<!DOCTYPE html>
<html lang="eS">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Libre Deuda 0.1 BETA</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>

  <div id="app">
    <h1>LIBRE DEUDA</h1>



    <div class="container col-12">
      <div id="panels" class="row d-flex">
        <div id="inputs" class="col-md-6 col-12">
          <H2>INGRESO DE DATOS</H2>
          <form>
            <div class="col-12">
              <div class="row">
                <fieldset>
                  <legend>CONSORCIO</legend>

                  <label>Calle y número:
                <input v-model="consorcio" type="text" name="consorcio" id="consorcio">
              </label>
                  <label>Departamento:
                <input v-model="depto" type="text" name="departamento" id="departamento">
              </label>
                  <label>Unidad Funcional:
                  <input v-model="uf" type="text" name="uf" id="uf">
                </label>
                  <label>Propietario:
                    <input v-model="propietario" type="text" name="propietario" id="propietario">
                  </label>

                </fieldset>
              </div>

              <div class="row">
                <fieldset>
                  <legend>FECHAS</legend>
                  <label>Fecha:
                <input v-model="fecha" type="date" name="consorcio" id="fecha">
              </label>
                  <label>Último periodo liquidado:
                <input v-model="ultimaLiquidacion" type="text" name="consorcio" id="ultimaLiquidacion">
              </label>
                  <label>Vencimiento:
                  <input v-model="vencimiento" type="date" name="vencimiento" id="vencimiento">
                </label>
                </fieldset>
              </div>

              <div class="row">
                <fieldset>
                  <legend>SALDOS</legend>
                  <label>Saldo pendiente:
                <input v-model="deuda" type="number" name="consorcio" id="pendiente">
              </label>
                  <label>Expensas netas:
                <input v-model="expensaNeta" type="text" name="consorcio" id="expensas">
              </label>
                </fieldset>
              </div>
              <div class="row">
                <fieldset>
                  <legend>SEGUROS</legend>

                </fieldset>
              </div>

              <div class="row">
                <fieldset>
                  <legend>JUICIOS</legend>
                  <div class="custom-control custom-switch">
                    <input v-model="juicio" type="checkbox" class="custom-control-input" id="switchjuicios">
                    <label class="custom-control-label" for="switchjuicios">El consorcio tiene juicios en proceso.</label>
                  </div>
                  <div>
                    <textarea v-if="juicio" v-model="juicioDescripcion" name="descripcionJuicio" id="descripcionJuicio" cols="30" rows="10" placeholder="Ingrese descripcion de los procesos judiciales activos"></textarea>
                  </div>



                </fieldset>
              </div>
              <div class="row">
                <fieldset>
                  <legend>IMPUESTOS Y SERVICIOS</legend>
                  <div>

                    <div class="custom-control custom-switch">
                      <input v-model="aysaConsorcio" value="false" type="checkbox" class="custom-control-input" id="switchAysa">
                      <label class="custom-control-label" for="switchAysa">AySA por consorcio.</label>
                    </div>


                  </div>
                  <div>

                    <div class="custom-control custom-switch">
                      <input v-model="ablConsorcio" value="false" type="checkbox" class="custom-control-input" id="switchAbl">
                      <label class="custom-control-label" for="switchAbl">ABL por consorcio.</label>
                    </div>
                  </div>

                </fieldset>
              </div>


            </div>

          </form>
        </div>

        <div v-cloak id="output" class="col-md-6 col-12">
          <h2>VISTA PREVIA</h2>
          <div class="border">


            <p>

              Buenos Aires, {{fecha}}
            </p>
            <p>
              CERTIFICADO DE LIBRE DEUDA
            </p>
            <p>
              Por la presente, en mi carácter de administrador del consorcio de la calle {{consorcio}}, informo que la UF Nº {{uf}} ({{depto}}) a nombre de {{propietario}} al día de la fecha registra deuda en concepto de expensas por un total de $ {{deuda}} .

            </p>
            <p>
              Las expensas se abonan mes vencido. Quedan pendientes por abonar las expensas del periodo {{ultimaLiquidacion}} con vencimiento el {{vencimiento}} por un monto aproximado de $ {{expensaNeta}}.-
            </p>
            <p>
              El edificio está asegurado contra incendios en la Compañía Aseguradora {{aseguradora}}, Póliza Nº {{poliza}}, con vigencia hasta el {{vigenciaSeguro}}
            </p>
            <p>
              El edificio cuenta con un fondo de caja de $ {{fondoCaja}} (NUMERO A TEXTOpesos ciento veintisiete mil trescientos cincuenta y tres con 27/100); teniendo la UF Nº {{uf}} un porcentual de {{porcentual}} %.
            </p>
            <p>
              {{juicioTitle}} {{juicioDescripcion}}
            </p>
            <p>
              AySA {{aysa}}.
            </p>
            <p>
              ABL {{abl}}.
            </p>
            <p>
              Sin otro particular, saluda a Usted cordialmente

            </p>
          </div>

        </div>
      </div>

      <!-- ejemplos -->
      <!-- cobro de expensas de la UF N°57 piso 5° “I” caratulado “Consorcio de Propietarios Paraguay 2081/87 c/ Tempone Lydia Rosa”. Expediente CIV 75694/2017, Juzgado 95 ubicado en la calle Talcahuano 550 Piso 6°. -->

    </div>

    <!-- end of #app -->
  </div>
  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>