<!DOCTYPE html>
<html lang="ES">

<head>
  <script data-ad-client="ca-pub-6389878794035258" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Libre Deuda 1.5 - Restpoint.com.ar</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="css/animatedcss.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/styles.css">

  <!-- icon in the highest resolution we need it for -->
  <link rel="icon" sizes="512x512" href="img/icon512.png">
  <!-- reuse same icon for Safari -->
  <link rel="apple-touch-icon" href="img/icon512.png">
  <!-- multiple icons for IE -->
  <meta name="msapplication-square512x512logo" content="img/icon512.png">
  <meta name="theme-color" content="#498294" />

  <link rel="manifest" href="manifest.json">



</head>

<body class="bg-dark">
  <div id="app">
    <h1 class="text-info ml-5"><span class="">LIBRE DEUDA | </span><small class="text-secondary animated fadeIn delay-2s">Administración Bouteiller-Jordan</small></h1>
    <div class="container col-11 pt-2">
      <div id="panels" class="row d-flex justify-content-between pb-5 bg-light animated fadeIn">
        <div id="inputs" class="col-md-6 col-12 mb-5">
          <H2>INGRESO DE DATOS</H2>
          <!-- ACORDEON -->
          <div class="accordion animated fadeInUp delay-1s" id="acordeon">
            <div class="card">
              <div class="card-header" id="headingConsorcio">
                <h2 class="mb-0">
                  <button class="btn btn-block btn-outline-info collapsed" type="button" data-toggle="collapse" data-target="#collapseConsorcio" aria-expanded="false" aria-controls="collapseOne">
                      CONSORCIO
                    </button>
                </h2>
              </div>
              <div id="collapseConsorcio" class="collapse" aria-labelledby="headingConsorcio" data-parent="#acordeon">
                <div class="card-body">
                  <fieldset>
                    <label >Calle y número:
                      <input class="form-control" v-model="consorcio" type="text" name="consorcio" id="consorcio">
                    </label>
                    <label>Unidad Funcional:
                        <input class="form-control" v-model="uf" type="number" name="uf" id="uf">
                      </label>
                    <label class="">Piso:
                        <input class="form-control" v-model="piso" type="text" name="departamento" id="piso">
                      </label>
                    <label class="">Letra/Departamento:
                        <input class="form-control" v-model="letra" type="text" name="departamento" id="letra">
                      </label>
                    <label>Propietario:
                        <input class="form-control" v-model="propietario" type="text" name="propietario" id="propietario">
                      </label>
                    <label>Porcentual:
                      <div class="input-group">
                        <input v-model="porcentual" class="form-control" type="number" name="porcentual" id="porcentual">
                        <span class="input-group-text">&percnt;</span>
                      </div>
                      </label>
                    <div>
                      <div class="custom-control custom-switch">
                        <input v-model="cochera" value="false" type="checkbox" class="custom-control-input" id="switchcochera">
                        <label class="custom-control-label" for="switchcochera">Incluye cochera.</label>
                      </div>
                      <transition name="custom-classes-transition" enter-active-class="animated zoomInRight" leave-active-class="animated zoomOutUp">
                        <input class="form-control" v-if="cochera" v-model="cocheraUF" value="" type="number" name="cocheraUF" id="cocheraUF" placeholder="UF de cochera.">
                      </transition>
                    </div>
                  </fieldset>

                </div>
              </div>
              <!--  -->
            </div>
            <div class="card">
              <div class="card-header" id="headingFechas">
                <h2 class="mb-0">
                  <button class="btn btn-block btn-outline-info collapsed" type="button" data-toggle="collapse" data-target="#collapseFechas" aria-expanded="false" aria-controls="collapseTwo">
                      FECHAS
                    </button>
                </h2>
              </div>
              <div id="collapseFechas" class="collapse" aria-labelledby="headingFechas" data-parent="#acordeon">
                <div class="card-body">
                  <fieldset>
                    <label>Hoy:
                      <input class="form-control" v-model="fecha" type="date" name="fecha" id="fecha">
                    </label>
                    <label>Próximo periodo a ser liquidado:
                        <input class="form-control" v-model="ultimaLiquidacion" type="month" name="ultimaLiquidacion" id="ultimaLiquidacion">
                    </label>
                    <label>Vencimiento de la próxima liquidación:
                        <input class="form-control" v-model="vencimiento" type="date" name="vencimiento" id="vencimiento">
                      </label>
                  </fieldset>
                </div>
              </div>
              <!-- FIN FECHAS -->
            </div>
            <div class="card">
              <div class="card-header" id="headingSaldos">
                <h2 class="mb-0">
                  <button class="btn btn-block btn-outline-info collapsed" type="button" data-toggle="collapse" data-target="#collapseSaldos" aria-expanded="false" aria-controls="collapseSaldos">
                      SALDOS
                    </button>
                </h2>
              </div>
              <div id="collapseSaldos" class="collapse" aria-labelledby="headingSaldos" data-parent="#acordeon">
                <div class="card-body">
                  <fieldset>
                    <label>Saldo pendiente: 
                      <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input class="form-control" v-model="deuda" type="number" name="pendiente" id="pendiente">
                      </div>
                    </label>
                    <label>Expensas netas:
                      <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input class="form-control" v-model="expensaNeta" type="number" name="expensas" id="expensas">
                      </div>
                    </label>
                    <label>Fondo de caja:
                      <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input class="form-control" v-model="fondoCaja" type="number" name="fondoCaja" id="fondoCaja">
                      </div>
                    </label>
                  </fieldset>
                </div>
              </div>
              <!-- FIN SALDOS -->
            </div>
            <div class="card">
              <div class="card-header" id="headingSeguros">
                <h2 class="mb-0">
                  <button class="btn btn-block btn-outline-info collapsed" type="button" data-toggle="collapse" data-target="#collapseSeguros" aria-expanded="false" aria-controls="collapseThree">
                      SEGUROS
                      </button>
                </h2>
              </div>
              <div id="collapseSeguros" class="collapse" aria-labelledby="headingSeguros" data-parent="#acordeon">
                <div class="card-body">
                  <fieldset>
                    <p>
                      El edificio se encuentra asegurado contra:
                    </p>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <div class="custom-control custom-switch">
                          <input v-model="asegurado" type="checkbox" class="custom-control-input" value="incendio" id="seguroIncendio">
                          <label class="custom-control-label" for="seguroIncendio">Incendio.</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="custom-control custom-switch">
                          <input v-model="asegurado" type="checkbox" class="custom-control-input" value="rotura de cristales" id="seguroCristales">
                          <label class="custom-control-label" for="seguroCristales">Rotura de cristales.</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="custom-control custom-switch">
                          <input v-model="asegurado" type="checkbox" class="custom-control-input" value="robo" id="seguroRobo">
                          <label class="custom-control-label" for="seguroRobo">Robo.</label>
                        </div>
                      </li>
                    </ul>
                    <div><label>En la compañía aseguradora:
                        <input class="form-control" v-model="aseguradora" type="text" name="seguro" id="aseguradora">
                        </label></div>
                    <div><label>Póliza N°:
                        <input class="form-control" v-model="poliza" type="text" name="seguro" id="poliza">
                        </label></div>
                    <div><label>Vigente hasta:
                            <input class="form-control" v-model="vigenciaSeguro" type="date" name="seguro" id="vigencia">
                            </label></div>
                  </fieldset>
                </div>
              </div>
              <!-- FIN SEGUROS -->
            </div>
            <div class="card">
              <div class="card-header" id="headingJuicios">
                <h2 class="mb-0">
                  <button class="btn btn-block btn-outline-info collapsed" type="button" data-toggle="collapse" data-target="#collapseJuicios" aria-expanded="false" aria-controls="collapseSaldos">
                      JUICIOS
                      </button>
                </h2>
              </div>
              <div id="collapseJuicios" class="collapse" aria-labelledby="headingJuicios" data-parent="#acordeon">
                <div class="card-body">
                  <fieldset>

                    <div class="custom-control custom-switch">
                      <input v-model="juicio" type="checkbox" class="custom-control-input" id="switchjuicios">
                      <label class="custom-control-label" for="switchjuicios">El consorcio tiene juicios en proceso.</label>
                    </div>
                    <div>
                      <transition name="custom-classes-transition" enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
                      <textarea v-if="juicio" v-model="juicioDescripcion" name="descripcionJuicio" id="descripcionJuicio" class="form-control" rows="10" placeholder="Ingrese descripcion de los procesos judiciales activos"></textarea>
                      </transition>
                    </div>
                  </fieldset>
                </div>
              </div>
              <!-- FIN JUICIOS -->
            </div>
            <div class="card">
              <div class="card-header" id="headingImpuestos">
                <h2 class="mb-0">
                  <button class="btn btn-block btn-outline-info collapsed" type="button" data-toggle="collapse" data-target="#collapseImpuestos" aria-expanded="false" aria-controls="collapseSaldos">
                    IMPUESTOS Y SERVICIOS
                  </button>
                </h2>
              </div>
              <div id="collapseImpuestos" class="collapse show" aria-labelledby="headingImpuestos" data-parent="#acordeon">
                <div class="card-body">
                  <fieldset>
                    <div>
                      <div class="custom-control custom-switch">
                        <input v-model="aysaConsorcio" value="false" type="checkbox" class="custom-control-input" id="switchAysa">
                        <label class="custom-control-label" for="switchAysa">AySA por consorcio.</label>
                      </div>
                      <transition name="custom-classes-transition" enter-active-class="animated zoomInRight" leave-active-class="animated zoomOutUp">
                        <input class="form-control" v-if="aysaConsorcio" v-model="aysaCliente" value="" type="number" name="aysaCliente" id="aysaCliente" placeholder="N° de cliente">
                      </transition>
                    </div>
                    <div>
                      <div class="custom-control custom-switch">
                        <input v-model="ablConsorcio" value="false" type="checkbox" class="custom-control-input" id="switchAbl">
                        <label class="custom-control-label" for="switchAbl">ABL por consorcio.</label>
                      </div>
                      <transition name="custom-classes-transition" enter-active-class="animated zoomInRight" leave-active-class="animated zoomOutUp">
                        <input class="form-control" v-if="ablConsorcio" v-model="ablPartida" value="" type="number" name="ablPartida" id="ablPartida" placeholder="N° de partida">
                      </transition>
                    </div>
                  </fieldset>
                </div>
              </div>
              <!-- FIN IMPUESTOS -->
            </div>
            <!-- FIN DEL ACORDEON -->
          </div>
        </div>
        <!-- 
          PREVIEW
         -->

        <div id="preview" class="col-md-6 col-12">
          <h2>VISTA PREVIA</h2>

          <!-- <div v-cloak class="border animated fadeInUp delay-1s" id="output "> -->
          <div v-cloak class="border px-3" id="output_">
            <p align=center style='font-size:10.0pt; mso-bidi-font-size:12.0pt;font-family: "Arial", "sans-serif" '>Nicolás Jordan<span style='mso-tab-count:1 '>            </span><span align=center>ADMINISTRACION
                DE CONSORCIOS</span><span style='mso-tab-count:1 '>            </span><span align=right>J. Luciano Bouteiller</span>
            </p>
            <hr>
            <p align=right style='text-align:right '>
              Buenos Aires, {{moment(fecha).format('LL')}}
            </p>
            <p align=center style='text-align:center '>
              CERTIFICADO DE LIBRE DEUDA
            </p>
            <p>
              Por la presente, en mi carácter de administrador del consorcio de la calle {{consorcio}}, informo que la UF Nº {{uf}} ({{depto}})<span v-if="cochera">, y la cochera adjunta Unidad Funcional N°{{cocheraUF}},</span> a nombre de {{propietario}}
              al día de la fecha <span v-if="deuda==0">no </span>registra deuda en concepto de expensas <span v-if="deuda>0">por un total de $ {{saldoFormateado(deuda)}}</span>.
            </p>
            <p>
              Las expensas se abonan mes vencido. Quedan pendientes por abonar las expensas del periodo {{moment(ultimaLiquidacion).format('MMMM YYYY')}} con vencimiento el {{moment(vencimiento).format('LL')}} por un monto aproximado de $ {{saldoFormateado(expensaNeta)}}.-
            </p>
            <p>
              El edificio está asegurado contra <span v-for="item in asegurado">{{item}}, </span>en la Compañía Aseguradora {{aseguradora}}, Póliza Nº {{poliza}}, con vigencia hasta el {{moment(this.vigenciaSeguro).format('LL')}}
            </p>
            <p>
              El edificio cuenta con un fondo de caja de $ {{saldoFormateado(fondoCaja)}} ({{fondoCajaTexto}}); teniendo la UF Nº {{uf}} un porcentual de {{porcentual}} %.
            </p>
            <p>
              <p v-if="juicio" style="white-space: pre-line;">Informamos que el edificio se encuentra con un juicio por {{juicioDescripcion}} .</p>
              <span v-else>Informamos que el edificio no posee procesos judiciales en curso de nuestro conocimiento.</span>
            </p>
            <p>
              AySA {{porConsorcio(aysaConsorcio)}}<span v-if="aysaConsorcio">, Cliente N° {{aysaCliente}} </span>.
            </p>
            <p>
              ABL {{porConsorcio(ablConsorcio)}}<span v-if="ablConsorcio">, Partida N° {{ablPartida}} </span>.
            </p>
            <p>
              Sin otro particular, saluda a Usted cordialmente

            </p>
            <br>
            <br>
            <br>

            <p class="MsoFooter">

              <hr>
              <p align=center style='font-size:10.0pt; mso-bidi-font-size:12.0pt;font-family: "Arial", "sans-serif" '>Azcuénaga 1571 PB “E”<span style='mso-tab-count:1 '>            </span>
                <span align=center>1426-Cap.Fed</span><span style='mso-tab-count:1 '>            </span>
                <span align=right>Tel/Fax : 4807-3961 || 4807-3726</span>
              </p>
            </p>


            <!-- FIN DE OUTPUT -->
          </div>
          <!-- BOTON MERCADOLIBRE -->
          <!-- <a mp-mode="dftl" href="https://www.mercadopago.com.ar/checkout/v1/redirect?pref_id=40219556-c80b8e2e-1785-4286-9e3b-751db1455fe4" name="MP-payButton" class='green-tr-l-rn-arall'>Donar $15</a>
          <script type="text/javascript">
            (function() {
              function $MPC_load() {
                window.$MPC_loaded !== true && (function() {
                  var s = document.createElement("script");
                  s.type = "text/javascript";
                  s.async = true;
                  s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js";
                  var x = document.getElementsByTagName('script')[0];
                  x.parentNode.insertBefore(s, x);
                  window.$MPC_loaded = true;
                })();
              }
              window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;
            })();
          </script> -->



          <!-- BOTON GUARDAR COMO DOC -->
          <button v-cloak class="mt-3 float-right btn btn-success" @click="Export2Doc('output_');">&#x1F4BE; Exportar como .doc</button>
          <!-- FIN DE PREVIEW -->
          <div v-if="!$data" class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
            <!-- Spinner si aún no cargó Vue -->
          </div>
        </div>
      </div>

    </div>

    <!-- end of #app -->
  </div>
  <footer class="footer mt-3 mb-2">
    <div class="container text-center">
      <span class="text-muted">
        <p>Made in &#x1F1E6;&#x1F1F7; by <a target="_blank" href="http://www.restpoint.com.ar">Restpoint</a></p>
      <p>
        &copy; 2019 All rights reserved.
      </p>
    </span>
    </div>
  </footer>
  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/num2string.js"></script>
  <script src="js/app.js"></script>
  <!-- <script>
    if ('serviceWorker' in navigator) {
      console.log("Will the service worker register?");
      navigator.serviceWorker.register('service-worker.js')
        .then(function(reg) {
          console.log("Yes, it did.");
        }).catch(function(err) {
          console.log("No it didn't. This happened: ", err)
        });
    }
  </script> -->
</body>

</html>